<div class="owners">
    <h3 class="panel-heading">Owners</h3>
    <h3 class="text-info"><select ng-model="limitValue" ng-options="item for item in limitRange"></select></h3>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="text-center">Pets count</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="owner in pagedItems[currentPage]" ng-click="showPets(owner)">
                    <td>{{owner.name}}</td>
                    <td class="text-center">{{owner.petsCount}}</td>
                    <td class="text-center">
                        <button class="btn btn-xs btn-primary" ng-click="delete(owner)">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li ng-disabled="currentPage == 0" ng-click="prevPage()">
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li ng-repeat="pageNumber in range(pagedItems.length)" ng-class="{active: pageNumber == currentPage}" href="" ng-click="setPage()"><a href="" ng-bind="pageNumber + 1">1</a></li>
                    <li ng-disabled="currentPage == numberOfPages" ng-click="currentPage = currentPage + 1">
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
