<div>
    <h3 class="panel-heading">{{$parent.owner.name}} pets</h3>
    <a class="back" href="" ng-click="back()">Back</a>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pet in pets">
                    <td>{{pet.name}}</td>
                    <td class="text-center">
                        <button class="btn btn-xs btn-primary">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>